:root {
  --blue-dark: #2b6777;
  --blue-light: #c8d8e4;
  --white: #ffffff;
  --gray-light: #f2f2f2;
  --teal: #52ab98;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin-top: 100px;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
  background-color: var(
    --blue-light
  ); /* Lys bakgrunnsfarge for enkel kontrast */
  color: #333; /* Mørk tekstfarge for lesbarhet */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--blue-light); /* Hvit bakgrunn for headeren */
  border-bottom: 1px solid var(--blue-light); /* Subtil linje under headeren */
  z-index: 10;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
}
header h3 {
  color: var(--blue-dark);
}

.wrapper {
  width: 100%;
  padding: 40px;
  margin: 0 auto;
}

.header {
  margin-top: 0;
  width: 100%;
}

nav {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: var(--blue-dark); /* Blå lenkefarge */
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--white); /* Mørkere blå ved hover */
}

button {
  padding: 8px 16px;
  margin: 0px 10px;
  background-color: var(--teal); /* Blå knappfarge */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--); /* Mørkere blå ved hover */
}

.main-wrapper {
  margin-top: 80px; /* Juster for fast header */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  border: 2px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1; /* Lys bakgrunnsfarge for footer */
  border-top: 1px solid #ddd;
  position: relative;
  bottom: 0;
  width: 100%;
}

label {
  margin-right: 10px;
}

/* CV EDITOR */

.cv-editor-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-editor {
  display: flex;
  width: 100%;
}

.cv-editor-nav {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;

  border-right: 1px solid #ddd;
}

.cv-editor-nav button {
  background: none;
  border: none;
  padding: 10px 15px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  color: var(--blue-dark);
  transition: background-color 0.3s, color 0.3s;
}

.cv-editor-nav button:hover {
  background-color: #eaeaea;
}

.cv-editor-nav button.active {
  background-color: #2b6777;
  color: white;
  font-weight: bold;
}

.editor-active-section {
  width: 90%;
}

.cv-section {
  margin: 30px;
  border-bottom: 1px solid #2b6777;
}

.cv-section-form {
  display: flex;
  gap: 10px;
}

.pdf-export-container {
  display: flex;
  width: 50vw;
  gap: 20px;
}

.export-control {
  flex: 30%;
}
